
@media screen and (max-width:767px){

	.single-form-demo-set {padding: 30px 0 0px;}
	.single-form-img-content {margin-top: 30px;}
	.form-img {max-width: 350px;margin: 30px auto;}

}/*max-width:767px*/

