<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>在线考试系统首页</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--examnav-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toHome')"></div>

    <div class="jumbotron">
        <h1><p class="text success" th:text="${session.loger.getStudentName()}"></p></h1>
        <h2><p class="lead">欢迎你的到来，祝您考试愉快</p></h2>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>考试宣言一</h4>
            <p>认认真真考试，堂堂正正做人</p>

            <h4>考试宣言二</h4>
            <p>会考号角声声急，是谁又催千里马;夺魁战鼓阵阵高，看我更上一层楼</p>

            <h4>考试宣言三</h4>
            <p>拼搏，以有限时间挑战内在的潜力；奋斗，用不懈努力铸就无悔的青春</p>
        </div>

        <div class="col-lg-6">
            <h4>系统优点一</h4>
            <p>已存在java、python、c等多类试题、试卷</p>

            <h4>系统优点二</h4>
            <p>方便快捷查询分类、可以自行添加试题、添加试卷</p>

            <h4>系统优点三</h4>
            <p>多角色，自动阅卷，考试记录存档</p>
        </div>
    </div>
    <footer class="footer">
        <p>&copy;2020年1月23日 by 舒照</p>
    </footer>
    <!--footer-->
    <div th:replace="commons/bar::footer"></div>
</div> <!-- /container -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
