<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线考试系统后台试题管理页面</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/question/getAllQuestion')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h6 class="page-title">试题管理页面</h6>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"><h2><a class="btn btn-success" href="#" th:href="@{/question/toAddQuestion}">试题添加</a></h2> </div>
                            <form class="col-md-8" th:action="@{/question/getAllQuestion/}">
                                <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control form-control-sm" name="questionCourse">
                                            <!--<option th:each="quecou:${questionCourses}" th:if="${quecou.getQuestionCourse()}=='all'" th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}"></option>
                                            <option th:each="quecou:${questionCourses}" th:if="${quecou.getQuestionCourse()}!='all'" th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}"></option>-->

                                            <u th:each="quecou:${questionCourses}"  th:if="${quecou.getQuestionCourse()}=='all'">
                                                <option th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}" th:if="${quecou.getQuestionCourse()}==${questionCourseresRes}" selected></option>
                                                <option th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}" th:if="${quecou.getQuestionCourse()}!=${questionCourseresRes}" ></option>
                                            </u>
                                            <u th:each="quecou:${questionCourses}"  th:if="${quecou.getQuestionCourse()}!='all'">
                                                <option  th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}" th:if="${quecou.getQuestionCourse()}==${questionCourseresRes}" selected></option>
                                                <option  th:text="${quecou.getQuestionCourse()}" th:value="${quecou.getQuestionCourse()}" th:if="${quecou.getQuestionCourse()}!=${questionCourseresRes}"></option>
                                            </u>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                   <div class="form-group">
                                       <select class="form-control form-control-sm" name="questionType">
                                           <u  th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='k'">
                                               <option th:text="所有" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}==${questionTypesRes}" selected></option>
                                               <option th:text="所有" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}!=${questionTypesRes}"></option>
                                           </u>
                                           <u  th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='x'">
                                               <option th:text="单选题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}==${questionTypesRes}" selected></option>
                                               <option th:text="单选题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}!=${questionTypesRes}"></option>
                                           </u>

                                           <u  th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='y'">
                                               <option th:text="多选题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}==${questionTypesRes}" selected></option>
                                               <option th:text="多选题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}!=${questionTypesRes}"></option>
                                           </u>
                                           <u  th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='z'">
                                               <option th:text="判断题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}==${questionTypesRes}" selected></option>
                                               <option th:text="判断题" th:value="${quetype.getQuestionType()}" th:if="${quetype.getQuestionType()}!=${questionTypesRes}"></option>
                                           </u>
                                           <!--<option th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='x'" th:text="单选题" th:value="${quetype.getQuestionType()}"></option>
                                           <option th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='y'" th:text="多选题" th:value="${quetype.getQuestionType()}"></option>
                                           <option th:each="quetype:${questionTypes}" th:if="${quetype.getQuestionType()}=='z'" th:text="判断题" th:value="${quetype.getQuestionType()}"></option>-->
                                       </select>
                                   </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-border btn-round" th:text="查看"></button>
                                    </div>
                                 </div>
                                </div>
                            </form>
                        </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <table class="table table-head-bg-success">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">题型</th>
                                        <th scope="col">试题知识</th>
                                        <th scope="col">题目</th>
                                        <th scope="col">选项A</th>
                                        <th scope="col">选项B</th>
                                        <th scope="col">选项C</th>
                                        <th scope="col">选项D</th>
                                        <th scope="col">正确选项</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="que,queStat:${pageInfo.list}">
                                        <td th:text="${queStat.count}"></td>
                                        <td th:if="${que.questionType}=='x'" th:text="单择题"></td>
                                        <td th:if="${que.questionType}=='y'" th:text="多选题"></td>
                                        <td th:if="${que.questionType}=='z'" th:text="判断题"></td>
                                        <td th:text="${que.questionCourse}"></td>
                                        <td th:text="${#strings.abbreviate(que.questionName,10)}"></td>
                                        <td th:text="${#strings.abbreviate(que.questionOpa,10)}"></td>
                                        <td th:text="${#strings.abbreviate(que.questionOpb,10)}"></td>
                                        <td th:text="${#strings.abbreviate(que.questionOpc,10)}"></td>
                                        <td th:text="${#strings.abbreviate(que.questionOpd,10)}"></td>
                                        <td th:text="${que.questionOpright}"></td>
                                        <td>
                                            <a class="btn btn-sm btn-info" th:href="@{/question/toEditQuestion/}+${que.questionId}">编辑</a>
<!--                                            <button th:attr="del_uri=@{/question/deleteQuestion/}+${que.questionId}" class="btn btn-sm btn-danger deleteBtn">删除</button>-->
                                            <!--判断教师是否是班主任，若是则不可删除-->
                                            <button th:attr="del_uri=@{/question/deleteQuestion/}+${que.questionId}" class="btn btn-sm btn-danger deleteBtn" th:if="!${quesIds.contains(que.questionId)}">删除</button>
                                            <button th:attr="del_uri=@{/question/deleteQuestion/}+${que.questionId}" class="btn btn-sm btn-danger deleteBtn" th:if="${quesIds.contains(que.questionId)}" disabled>删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--2020年1月17日处理分页并且分类问题，让每一个页码带上课程、类型参数-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="demo">
                    </p><ul class="pagination pg-primary">
                    <u th:if="${pageInfo.hasPreviousPage}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:href="'/question/getAllQuestion?pageNum='+${pageInfo.pageNum-1}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    </u>
                    <u th:each="nav:${pageInfo.navigatepageNums}">
                        <li th:if="${pageInfo.pageNum!=nav}" class="page-item">
                            <a class="page-link" th:href="'/question/getAllQuestion?pageNum='+${nav}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}" th:text="${nav}"></a>
                        </li>
                        <li th:if="${pageInfo.pageNum==nav}" class="page-item active">
                            <a class="page-link" th:href="'/question/getAllQuestion?pageNum='+${nav}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}" th:text="${nav}"></a>
<!--                            <a class="page-link" th:href="'/question/getAllQuestion?pageNum='+${nav}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}" th:text="${nav}"></a>-->
                        </li>
                    </u>
                    <u th:if="${pageInfo.hasNextPage}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:href="'/question/getAllQuestion?pageNum='+${pageInfo.pageNum+1}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </u>
                </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <!--footer-->
        <div th:replace="commons/bar::footer"></div>
</div>
</div>
//删除表单
<form id="deleteClasseForm" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<!--映入jclary，src-->
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/layer/src/layer.js}"></script>
<script>
    //删除指定id试题
    $(".deleteBtn").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确实要删除吗？")){
            //提交表单
            $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
            layer.msg("删除成功", {time:2000, icon:6});
        }else {
            layer.msg("删除取消", {time:2000, icon:5, shift:6});
        }
        return false;
    });

</script>
</body>
</html>