<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.quiz.mapper.RecordMapper">
	<resultMap id="RecordResult" type="com.zhao.quiz.domain.Record">
		<id property="recordId" column="record_id" />
		<result property="recordName" column="record_name"/>
		<result property="studentId" column="student_id"/>
		<result property="paperId" column="paper_id"/>
		<result property="recordAnswer" column="record_answer"/>
		<result property="recordAcc" column="record_acc"/>
		<result property="recordScore" column="record_score"/>
		<association property="student" column="#" javaType="com.zhao.quiz.domain.Student" resultMap="studentResult"/>
	</resultMap>
	<resultMap id="studentResult" type="com.zhao.quiz.domain.Student">
		<id property="studentId" column="student_id"/>
		<result property="studentName" column="student_name"/>
	</resultMap>
	<!--查询所有学生信息包括班级-->
	<select id="queryAll" resultMap="RecordResult">
		select * from record left join student	on record.student_id = student.student_id
	</select>
	<!--根据学生id查询考试信息-->
	<select id="queryAllExamById" resultType="com.zhao.quiz.domain.Record" parameterType="Integer">
		select * from record
			where student_id =#{id}
	</select>
	<!--根据分数排名-->
	<select id="queryRankScoreRecord" resultMap="RecordResult">
		select * from record left join student	on record.student_id = student.student_id order by record_score desc
	</select>
	<!--根据正确率排名-->
	<select id="queryRankAccRecord" resultMap="RecordResult">
		select * from record left join student	on record.student_id = student.student_id order by record_acc desc
	</select>

	<!--查询所有考试名称-->
	<select id="queryAllExam" resultType="com.zhao.quiz.domain.Record">
		SELECT distinct record_name,paper_id FROM record
	</select>

	<!--查询所有考试中对应所有班级-->
	<select id="queryAllClass" resultType="com.zhao.quiz.domain.Classe" parameterType="String">
		SELECT distinct classe_id FROM record left join student on record.student_id = student.student_id
			where record_name =#{exaName}
	</select>

	<!--查询对应考试对应班级参考人数-->
	<select id="queryAllScore" resultType="Integer" parameterType="com.zhao.quiz.domain.RecordExam">
		SELECT count(*) FROM record left join student on record.student_id = student.student_id
				where student.classe_id = #{claId} and  record.record_name = #{exaName}
	</select>
	<!--查询对应考试对应班级及格人数-->
	<select id="queryAccScore" resultType="Integer" parameterType="com.zhao.quiz.domain.RecordExam">
		SELECT count(*) FROM record left join student on record.student_id = student.student_id
				where record.record_name =#{exaName} and student.classe_id=#{claId} and record_score>=#{toscore}
	</select>

	<!--查询是否已存在对应paperid总分记录-->
	<select id="queryBooleanToscore" resultType="Integer" parameterType="Integer">
		SELECT count(*) FROM toscore where paper_id=#{paperId}
	</select>

	<!--根据paperid查询总分-->
	<select id="queryToscore" resultType="Integer" parameterType="Integer">
		SELECT toscore FROM toscore where paper_id=#{paperId}
	</select>

	<!--添加记录-->
	<insert id="addRecord" parameterType="com.zhao.quiz.domain.Record">
		insert into record
				(record_name,student_id,paper_id,record_answer,record_acc,record_score)
			values
				(#{recordName},#{studentId},#{paperId},#{recordAnswer},#{recordAcc},#{recordScore})
	</insert>

	<!--为每张试卷添加总分记录-->
	<insert id="AddToScore" parameterType="com.zhao.quiz.domain.Toscore">
		insert into toscore
				(paper_id,toscore)
			values
				(#{paperId},#{toscore})
	</insert>
</mapper>