<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线考试系统后台班级页面</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/classe/getAllClasse')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">班级管理页面</h4>
                <div class="col-md-6">
                    <form th:action="@{/classe/EditClasse}" method="put">
                    <input type="hidden" name="classeId" th:value="${classe.classeId}">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">班级名</label>
                                <input type="text" class="form-control" id="name" name="classeName" th:value="${classe.classeName}" placeholder="shuzhao">
                            </div>
                            <div class="form-group">
                                <label for="name">班主任</label>
                                <select class="form-control" name="teacherId">
                                    <option th:each="tea:${teachers}" th:selected="${classe.teacherId==tea.teacherId}" th:text="${tea.teacherName}" th:value="${tea.teacherId}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="card-action">
                            <button class="btn btn-success" th:text="添加"></button>
                            <button class="btn btn-danger">取消</button>
                        </div>
                    </form>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

    <!--footer-->
    <div th:replace="commons/bar::footer"></div>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
</body>
</html>