<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>在线考试系统待考试卷</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!--examnav-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toExam')"></div>

    <div class="row">
        <div class="col-xs-6 col-lg-4" th:each="exa:${Exams}">
            <h2 th:text="${exa.paper.paperName}"></h2>
            <p th:text="'开始时间：'+${#dates.format(exa.examBegin, 'yyyy-MM-dd HH:mm')}"></p>
            <p th:text="'结束时间：'+${#dates.format(exa.examEnd, 'yyyy-MM-dd HH:mm')}"></p>
            <p><a class="btn btn-default" href="#" th:href="@{/exam/toDoExam/}+${exa.paperId}+'?examId='+${exa.examId}" role="button">开始考试 »</a></p>
        </div><!--/.col-xs-6.col-lg-4-->

    </div>

    <!--footer-->
    <div th:replace="commons/bar::footer"></div>
</div> <!-- /container -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
